@page "/"

<PageTitle>Mobile Project Starter</PageTitle>

<h1>Mobile Project Starter</h1>

Welcome to mobile project starter. Use this starter to accelerate your mobile projects with ready to go project configurations. 